@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

:root {
    --dt-row-selected: 40,40,40;
    --dt-row-selected-text: 255, 255, 255;
    --dt-row-selected-link: 9, 10, 11;
}


* {
  padding: 0%;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body{
  overflow: hidden;
  background: #141414;
}


main,
.back {
  width: 100vw;
  height: 100vh;
  
}

main {
  background: #141414;
  padding: 16px;
  color: white;
}

.top {
  height: 7vh;
  width: 100%;
  background-color: #1a1a1a;
  margin-bottom: 10px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.top .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}

.top .logo h1{
    font-size: 16px;
}
.top .logo img{
    width: 24px;
}

.top .search {
  width: 50%;
}

.top .loggeduser {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  padding: 10px;
}
.top .loggeduser .userdetails {
  text-align: end;
}
.top .loggeduser .userdetails span {
    font-size: 10px;
    color: gray;
  }
  
  .top .loggeduser .userdetails p {
    font-size: 12px;
    text-align: right;
  }
  .top .loggeduser .useravator {
    width: 48px;
    height: 48px;
    background-color: black;
    border-radius: 100px;
    border-style: solid;
    border-color: #fdfa0b;
    padding: 2px;
  }
  
  .top .loggeduser .useravator img{
    border-radius: 100px;
    object-fit: cover;
    object-position: center;
  }

.bottom {
  display: flex;
  align-items: center;
  height: 88vh;
  width: 100%;
  gap: 10px;
}

.bottom .sidenav {
  width: 17%;
  background-color: #1a1a1a;
  height: 100%;
  border-radius: 16px;
  padding: 15px 10px;
}

.bottom .sidenav h3{
    font-size: 14px;
    padding-left: 10px;
    display: none;
}

.bottom .sidenav .links {
  padding: 10px;
}
.bottom .sidenav .links a {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: #1f1f1f;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 12px;
  color: white;
}

.bottom .sidenav .links .init::after{
    content:"";
    width: 64px;
    height: 4px;
    background-color: #fdfa0b;
    position: relative;
    right: 0px;
    border-radius: 10px;
  }

.bottom .sidenav .logout{
    margin-top: 240px;
}
.bottom .content {
    width: 83%;
    height: 100%;
    border-radius: 16px;
    /* display: flex; */
    align-items: center;
    background-color: #1a1a1a;
    padding: 20px;
  }

.bottom .content .displayData .dt-button {
    padding: 5px 10px;
    background-color: #fdfa0b;
    border-style: solid;
    border-color: #fdfa0b;
    border-radius: 5px;
}

.bottom .content p{
    font-size: 12px;
    margin-bottom: 20px;
    color:gray;
}

/* table.dataTable tbody tr.selected>*{
    box-shadow: inset 0 0 0 9999px rgba(255,255,0, 0.9);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.9);
    color: rgb(255, 255, 255);
    color: rgb(var(--dt-row-selected-text));
} */

table.dataTable.no-footer {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

table.dataTable thead tr{
  font-size: 12px;
}

.bottom .content .upper {
  height: 100%;
  width: 100%;
  background-color: #1a1a1a;
  border-radius: 16px;
  padding: 10px;
}
.bottom .content .lower {
  height: fit-content;
  width: 100%;
  background-color: #1a1a1a;
  border-radius: 16px;
  padding: 10px;
}
.bottom .content .upper,
.lower {
  margin-bottom: 10px;
}

.bottom .content .upper .cardframe,
.equipmentframe {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.bottom .content .upper .cardframe .card {
  width: 19%;
  background-color: #1f1f1f;
  height: 100%;
  border-radius: 16px;
}

.bottom .content .upper .cardframe .card {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.bottom .content .upper .cardframe .card .icon .iconpart {
  background-color: #fef612;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom .content .upper .cardframe .card .icon .iconpart img {
  filter: invert(100%);
}

.equipcard {
  height: fit-content;
  width: 20%;
  background-color: #1f1f1f;
  border-radius: 10px;
}
.seemore {
  width: 10%;
}
.seemore a {
  background-color: #fef612;
  padding: 10px;
  height: 250px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seemore a img {
  filter: invert(100%);
}
.equipcard .count {
  position: absolute;
}
.equipcard .count h4 {
  font-size: 3rem;
  font-weight: 400;
  margin: 10px;
}

.equipcard .equipname {
  padding: 10px;
  padding-bottom: 15px;
}
.equipcard .equipname p {
  color: gray;
}
.equipcard .image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.equipcard img {
  /* height: 300px; */
  width: 100%;
}

h2 {
  margin-bottom: 20px;
}

.crudeframe {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 10px;
}

.crudeframe .left,
.right {
  /* background-color: #141414; */
  /* height: 76vh; */
  width: 100%;
  padding: 10px;
}

.crudeframe .left form {
  width: 20vw;
}

.crudeframe .left form p {
  font-size: 11px;
  color: gray;
  margin-bottom: 5px;
}
.crudeframe .left form .field {
  margin: 10px 0px;
}

.crudeframe .left form input {
  padding: 5px;
  width: 100%;
  color: black;
}

.crudeframe .left form .field button {
  background-color: #fef612;
  color: black;
  padding: 10px;
  border-radius: 10px;
}

table {
  font-size: 12px;
  background-color: rgb(26, 26, 26);
  color: white;
  width: 100%;
  padding: 16px;
}

table tbody tr {
  align-items: center;
  padding: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.9rem;
}

.right thead tr {
  /* background-color: #121212; */
  color: black;
  text-align: left;
  border-bottom-style: solid;
  /* border-bottom-color: gray; */
  position: sticky;
}

table tbody tr {
  background-color: unset;
  padding: 5px;
}

.crudeframe .right tbody tr {
  border-bottom: 1px solid rgb(64, 64, 64);
}

tbody tr:nth-of-type(even) {
  background-color: rgb(36, 36, 36);
}

.crudeframe .right tbody tr:last-of-type {
  border-bottom: 2px solid rgb(26, 26, 26);
}
.tabledata {
  margin: 5px 0px;
  height: auto;
  border-bottom-style: solid;
  border-bottom-color: #fdfa0b;
}

tr td .action {
  display: flex;
  align-items: center;
}
tr td .action img {
  width: 16px;
}

.edit {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  /* background-color: white; */
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  /* border-right: 1px solid #f8f8f8; */
  font-size: 12px;
}

.fl-table thead th {
  color: black;
  background: #fef612;
}

/* .fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960; */

/* .fl-table tr:nth-child(even) {
    background: #F8F8F8;
} */

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
    display: block;
    width: 100%;
  }
  .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }
  .fl-table thead,
  .fl-table tbody,
  .fl-table thead th {
    display: block;
  }
  .fl-table thead th:last-child {
    border-bottom: none;
  }
  .fl-table thead {
    float: left;
  }
  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .fl-table td,
  .fl-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
    display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }
  .fl-table tr:nth-child(even) {
    background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
    background: #f8f8f8;
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tbody td {
    display: block;
    text-align: center;
  }
}

.add {
  position: absolute;
  top: 0%;
  right: 0%;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.07);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(70, 70, 70, 0.1);
  backdrop-filter: blur(11.9px);
  -webkit-backdrop-filter: blur(11.9px);
  height: 100vh;
  width: 30vw;
  padding: 50px;
  /* display: none; */
}

.add form input {
  width: 100%;
  padding: 5px;
  color: black;
  outline: none;
}

.add form .field {
  margin: 10px 0px;
}

.add form .field p {
  font-size: 10px;
}

.add .close button {
  background-color: transparent;
  color: white;
  outline: none;
  border-style: none;
}
.add .close {
  display: flex;
  align-items: center;
  justify-content: end;
}

.add form .field button {
  background-color: #fef612;
  padding: 5px 10px;
  color: black;
  border-radius: 10px;
}

span button {
  color: #fef612;
  border-style: dotted;
  border-color: #fef612;
  padding: 10px;
  background-color: transparent;
}

fl-table table tbody {
  height: 30vh;
  overflow-y: auto;
}


.crud{
  background-color: #1a1a1a;
  width: 80vw;
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 30px 20px;
  border-radius: 16px;
  color: gray;
  /* From https://css.glass */
  background: rgba(84, 84, 84, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.9px);
  -webkit-backdrop-filter: blur(11.9px);
  border: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateY(500px);
}

.crud .intro{
  font-size: 12px;
}

.crud .group{
  display: flex;
  align-items: center;
  gap: 100px;
  margin: 10px 0px;
  padding: 0px 20px;
}
.crud .group p{
  font-size: 10px;
  margin-bottom: 5px;
}

.crud .group input{
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  border-style: solid;
  color: white;
}

.crud .actionBtn button{
  padding: 5px 10px;
  background-color: #fdfa0b;
  border-style: solid;
  border-color: #fdfa0b;
  border-radius: 5px;
}

.crud .group .long{
  width: 500px;
}

.crud .group .extra-long{
  width: 800px;
}

.tray-key{
  width: 50px;
  height: 50px;
  background-color: yellow;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -20px;
  left: 55%;
  
}

.tray-key img{
  width: 16px;
  filter: invert(100%);
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 1px 10px;
  font-size: 12px;
}

.dataTables_wrapper .dataTables_filter input{
  color:white;
}